

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% load staticfiles %}
<link href='{% static "codemirror.css" %}' rel="stylesheet">
<script src='{% static "codemirror.js" %}' type="text/javascript" charset="utf-8"></script>
<script src='{% static "jquery.min.js" %}' type="text/javascript"></script>
<script src='{% static "addon/selection/active-line.js" %}' type="text/javascript"></script>
<script src='{% static "javascript/javascript.js" %}' type="text/javascript"></script>
<script src='{% static "clike/clike.js" %}' type="text/javascript"></script>

<script src='{% static "addon/edit/matchbrackets.js" %}'></script>
<script src='{% static "addon/edit/closebrackets.js" %}'></script>
<link rel="stylesheet" href='{% static "addon/hint/show-hint.css" %}'>
<script src='{% static "addon/hint/show-hint.js" %}'></script>

<title>Code</title>

</head>

<body>



<style type="text/css">
#e{padding: 10px; font-size: 14px;position:relative;height:800px;width:500px;}
#console{padding: 10px; background: black; font-family: arial; font-size:12px; color: white; position:relative; height:250px;width:500px;
overFlow-x:hidden;
overFlow-y:scroll;
scrollBar-face-color:green;
scrollBar-hightLight-color:red;
scrollBar-3dLight-color:orange;
scrollBar-darkshadow-color:blue;
scrollBar-shadow-color:yellow;
scrollBar-arrow-color:purple;
scrollBar-track-color:black;
scrollBar-base-color:pink; }

#gdb{padding: 10px; background: black; font-family: arial; font-size:12px; color: white; position:relative; height:250px;width:500px;
overFlow-x:hidden;
overFlow-y:scroll;
scrollBar-face-color:green;
scrollBar-hightLight-color:red;
scrollBar-3dLight-color:orange;
scrollBar-darkshadow-color:blue;
scrollBar-shadow-color:yellow;
scrollBar-arrow-color:purple;
scrollBar-track-color:black;
scrollBar-base-color:pink; }

pre{margin: 0; padding-left: 5px; padding-top: 5px;}

li{
    text-decoration: none;
    position: relative;
    display: inline;
    float: left;
}

.breakpoints {width: .8em;}
.breakpoint { color: #822; }
.CodeMirror {border: 1px solid #aaa;}

</style>

<div>
    <h2> 这是一个code mirror 编辑器的测试</h2>
</div>

{% csrf_token %}
<form action='http://127.0.0.1:8000/code/' method="POST">
<ul>
    <li>
        <h3>Code Editor</h3>
        <div id="e">
        <textarea id="code"></textarea>
        <div>
            <input id='submit' type='button' value='submit'/>
            <input id='run' type='button' value='run'/>
        </div>
        </div>    

    </li>


    <li>
        <h3>Console</h3>
        <div id='console'>

        </div>
        <div>
            <input id='console_cmd' type='text'/>
            <input id='console_send' type='button' value='send'/>
            <input id='console_read' type='button' value='refresh'/>

        </div>

        <h3>Debug</h3>
        <div id='gdb'>

        </div>
        <input id='debug-load' type='button' value='debug-load'/>
        <input id='debug-run' type="button" value='debug-run'/>
        <input id='debug-continue' type="button" value='debug-continue'/>
        <input id='debug-next' type="button" value='debug-next'/>

        <div>
            <input id='gdb_cmd' type='text'/>
            <input id='gdb_send' type='button' value='send'/>
        </div>
    </li>
</ul>
    

    
</form>
</ul>

<script>

$(document).ready(function(){

var breakpoints= new Array()

var textarea = document.getElementById('code');
var editor = CodeMirror.fromTextArea(textarea, {
    matchBrackets: true,
    autoCloseBrackets: true,
    mode: "text/x-csrc",
    styleActiveLine: true,
    lineNumbers: true,
    gutters: ["breakpoints","CodeMirror-linenumbers"]
});


editor.on("gutterClick", function(cm, n) {
  var info = cm.lineInfo(n);

  if(info.gutterMarkers) {
    cm.setGutterMarker(n, "breakpoints", null);
    disableBreakPoint(n)
  }
  else{
    cm.setGutterMarker(n, "breakpoints", makeMarker());
    enableBreakPoint(n)
  }
  
});



function makeMarker() {
  var marker = document.createElement("div");
  marker.style.color = "#822";
  marker.innerHTML = "●";
  //marker.innerHTML = "->";
  return marker;
}


function enableBreakPoint(n){
    var cmd = '-break-insert ' + file;
    ret = gdbCommand(cmd);
}

$("#submit").click(function(){

//var e=ace.edit("e");
//var code = e.getSession().getValue()

var code = editor.getValue();

//alert(code);

objMetrics = {
                  'code': code
              };

    $.ajaxSetup({ 
        async : false 
    });  

    
    $.post("http://127.0.0.1:8000/submit/", objMetrics , function(data){


        //content = '<div><pre>' + data + '</pre></div>';
        //$("#console").html(content);
        $("#gdb").append("<pre>"+data+"</pre>");
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });
});

 $("#run").click(function(){

    $.get("http://127.0.0.1:8000/run/", {}, function(data){
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        $("#gdb").append("<pre>"+data+"</pre>");
    })
    .error(function() { alert(data); });

 });

 $("#debug").click(function(){

    $.get("http://127.0.0.1:8000/debug/", {}, function(data){
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        $("#gdb").append("<pre>"+data+"</pre>");
    })
    .error(function() { alert(data); });
 });

 $("#gdb_send").click(function(){

    var cmd = $("#gdb_cmd").val();

    objMetrics = {
                  'gdb_cmd': cmd
              };

    $.ajaxSetup({ 
        async : false 
    });  

    $.post("http://127.0.0.1:8000/gdb/", objMetrics , function(data){

        $("#gdb").append("<pre>"+data+"</pre>");
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        //$("#console").html(content);
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });

 });


 $("#console_send").click(function(){

    var cmd = $("#console_cmd").val();

    objMetrics = {
                  'console': cmd
              };

    $.ajaxSetup({ 
        async : false 
    });  

    $.post("http://127.0.0.1:8000/console/", objMetrics , function(data){

        $("#console").append("<pre>"+data+"</pre>");
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        //$("#console").html(content);
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });

    $.get("http://127.0.0.1:8000/console/", {}, function(data){

        $("#console").append("<pre>"+data+"</pre>");
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        //$("#console").html(content);
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });


 });


$("#console_read").click(function(){

    $.get("http://127.0.0.1:8000/console/", {}, function(data){

        $("#console").append("<pre>"+data+"</pre>");
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        //$("#console").html(content);
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });
 });

$("#debug-load").click(function(){
    loadSymbols("a.out");
 });

$("#debug-run").click(function(){
    execRun();
 });

$("#debug-continue").click(function(){
    execContinue();
 });

function loadSymbols(file){
    
    var cmd = '-file-exec-and-symbols ' + file;
    ret = gdbCommand(cmd);

}

function enableBreakPoint(n){

    var cmd = "-break-insert " + n;
    ret = gdbCommand(cmd);

}

function execRun(){

    var cmd = "-exec-run";
    ret = gdbCommand(cmd);
}

function execContinue(){

    var cmd = "-exec-continue";
    gdbCommand(cmd);
}



function gdbCommand(gdb_cmd){
    objMetrics = {
                  'gdb_cmd': gdb_cmd
              };

    $.ajaxSetup({ 
        async : false 
    });  

    $.post("http://127.0.0.1:8000/gdb/", objMetrics , function(data){

        $("#gdb").append("<pre>"+data+"</pre>");
        return data;
    }).error(function() { alert(data); });
}

});
</script>


</body>


</html>

