

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

{% load staticfiles %}
<link href='{% static "codemirror.css" %}' rel="stylesheet">
<script src='{% static "codemirror.js" %}' type="text/javascript" charset="utf-8"></script>
<script src='{% static "jquery.min.js" %}' type="text/javascript"></script>
<script src='{% static "addon/selection/active-line.js" %}' type="text/javascript"></script>
<script src='{% static "javascript/javascript.js" %}' type="text/javascript"></script>
<script src='{% static "clike/clike.js" %}' type="text/javascript"></script>

<script src='{% static "addon/edit/matchbrackets.js" %}'></script>
<script src='{% static "addon/edit/closebrackets.js" %}'></script>
<link rel="stylesheet" href='{% static "addon/hint/show-hint.css" %}'>
<script src='{% static "addon/hint/show-hint.js" %}'></script>

<title>Code</title>

</head>

<body>



<style type="text/css">
#e{padding: 10px; font-size: 14px;position:relative;height:800px;width:500px;}
#console{padding: 10px; background: black; font-family: arial; font-size:12px; color: white; position:relative; height:250px;width:500px;
overFlow-x:scroll;
overFlow-y:scroll;
scrollBar-face-color:green;
scrollBar-hightLight-color:red;
scrollBar-3dLight-color:orange;
scrollBar-darkshadow-color:blue;
scrollBar-shadow-color:yellow;
scrollBar-arrow-color:purple;
scrollBar-track-color:black;
scrollBar-base-color:pink; }

#gdb{padding: 10px; background: black; font-family: arial; font-size:12px; color: white; position:relative; height:250px;width:500px;
overFlow-x:scroll;
overFlow-y:scroll;
scrollBar-face-color:green;
scrollBar-hightLight-color:red;
scrollBar-3dLight-color:orange;
scrollBar-darkshadow-color:blue;
scrollBar-shadow-color:yellow;
scrollBar-arrow-color:purple;
scrollBar-track-color:black;
scrollBar-base-color:pink; }

pre{margin: 0; padding-left: 5px; padding-top: 5px;}

li{
    text-decoration: none;
    position: relative;
    display: inline;
    float: left;
}

.breakpoints {width: .8em;}
.breakpoint { color: #822; }
.CodeMirror {border: 1px solid #aaa;}

</style>

<div>
    <h2> 这是一个code mirror 编辑器的测试</h2>
</div>

{% csrf_token %}
<form action='http://127.0.0.1:8000/code/' method="POST">
<ul>
    <li>
        <h3>Code Editor</h3>
        <div id="e">
        <textarea id="code"></textarea>
        <div>
            <input id='submit' type='button' value='submit'/>
            <input id='run' type='button' value='run'/>
        </div>
        </div>    

    </li>


    <li>
        <h3>Console</h3>
        <div id='console'>

        </div>
        <div>
            <input id='console_cmd' type='text'/>
            <input id='console_send' type='button' value='send'/>
            <input id='console_read' type='button' value='refresh'/>

        </div>

        <h3>Debug</h3>
        <div id='gdb'>

        </div>
        <input id='debug-load' type='button' value='debug-load'/>
        <input id='debug-run' type="button" value='debug-run'/>
        <input id='debug-continue' type="button" value='debug-continue'/>
        <input id='debug-next' type="button" value='debug-next'/>

        <div>
            <input id='gdb_cmd' type='text'/>
            <input id='gdb_send' type='button' value='send'/>
        </div>
    </li>
</ul>
    

    
</form>
</ul>

<script>

var socket;

function websocket(name) {
    //var $console = $('#console');
    //var $text = $('#text');
    var WebSocket = window.WebSocket || window.MozWebSocket;
    
    socket = new WebSocket('ws://127.0.0.1:8080/socket'); 

    // 打开Socket 
    socket.onopen = function(event) { 
        // 发送一个初始化消息
        msg = { "content": "hello" };
        socket.send(JSON.stringify(msg)); 

        // 监听消息
        socket.onmessage = function(event) { 

            response = JSON.parse(event.data);
            if(response['source'] == 'gdb'){
                //data = JSON.parse(response['data'])
                for(i in response['data']){
                    type = response['data'][i]['type']
                    details = response['data'][i]['details']
                    data = response['data'][i]['data']
                    $('#gdb').append('<pre>' + 'type:' + type + '</pre>');
                    $('#gdb').append('<pre>' + 'details:' + details + '</pre>');
                    $('#gdb').append('<pre>' + 'data:' + JSON.stringify(data) + '</pre>');
                    //$('#gdb').append('<pre>' + data + '</pre>');
                }
                

            }
            else{
                $('#console').append('<div><pre>' + response['data'] + '</pre></div>');
            }
        }; 
        //$('#msg_form').submit(function() {
        //    socket.send(name + " say: " + $text.val());
        //    $text.val('').select();
        //    return false;
        //});

        // 监听Socket的关闭
        socket.onclose = function(event) { 
            //$msg.append('server is close');
            socket.close() 
        }; 
    };
}

function ws_send(data){

        socket.send(data);
}


$(document).ready(function(){

var breakpoints= new Array()

var textarea = document.getElementById('code');
var editor = CodeMirror.fromTextArea(textarea, {
    matchBrackets: true,
    autoCloseBrackets: true,
    mode: "text/x-csrc",
    styleActiveLine: true,
    lineNumbers: true,
    gutters: ["breakpoints","CodeMirror-linenumbers"]
});

websocket('console');

editor.on("gutterClick", function(cm, n) {
  var info = cm.lineInfo(n);

  if(info.gutterMarkers) {
    cm.setGutterMarker(n, "breakpoints", null);
    disableBreakPoint(n + 1)
  }
  else{
    cm.setGutterMarker(n, "breakpoints", makeMarker());
    enableBreakPoint(n + 1)
  }
  
});


function makeMarker() {
  var marker = document.createElement("div");
  marker.style.color = "#822";
  marker.innerHTML = "●";
  //marker.innerHTML = "->";
  return marker;
}


function enableBreakPoint(n){
    var cmd = '-break-insert ' + n;
    ret = gdbCommand(cmd);
}

function disableBreakPoint(n){
    var cmd = '-break-delete ' + n;
    ret = gdbCommand(cmd);
}

$("#submit").click(function(){

//var e=ace.edit("e");
//var code = e.getSession().getValue()

var code = editor.getValue();

//alert(code);

objMetrics = {
                  'code': code
              };

    $.ajaxSetup({ 
        async : false 
    });  

    
    $.post("http://127.0.0.1:8000/submit/", objMetrics , function(data){


        //content = '<div><pre>' + data + '</pre></div>';
        //$("#console").html(content);
        $("#console").append("<pre>"+data+"</pre>");
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });
});

 $("#run").click(function(){

    $.get("http://127.0.0.1:8000/run/", {}, function(data){
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        $("#console").append("<pre>"+data+"</pre>");
    })
    .error(function() { alert(data); });

 });


 $("#gdb_send").click(function(){

    var cmd = $("#gdb_cmd").val();

    ret = gdbCommand(cmd);

 });


 $("#console_send").click(function(){

    var cmd = $("#console_cmd").val();

    consoleCommand('write', cmd);

    //ajax_console_send(json_cmd);
 
});


$('#console_read').click(function(){

    consoleCommand('async_read', '');

});

function ajax_console_send(request){

    $.ajaxSetup({ 
        async : false 
    });  

    $.post("http://127.0.0.1:8000/console/", request , function(data){

        $("#console").append("<pre>"+data+"</pre>");
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        //$("#console").html(content);
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });

    $.get("http://127.0.0.1:8000/console/", {}, function(data){

        $("#console").append("<pre>"+data+"</pre>");
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        //$("#console").html(content);
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });

}

function ajax_console_read(){
    $.get("http://127.0.0.1:8000/console/", {}, function(data){

        $("#console").append("<pre>"+data+"</pre>");
        //content = $("#console").val();
        //content = content + '<pre>' + data + '</pre>';
        //$("#console").html(content);
        //window.location.href = "http://127.0.0.1:8000/result" ;
    })
    .error(function() { alert(data); });
}



$("#debug-load").click(function(){
    loadSymbols("a.out");
 });

$("#debug-run").click(function(){
    execRun();
 });

$("#debug-continue").click(function(){
    execContinue();
 });


var breakpoints = {}


function loadSymbols(file){
    
    var cmd = '-file-exec-and-symbols ' + file;
    ret = gdbCommand(cmd);

}

function enableBreakPoint(n){

    var cmd = "-break-insert " + n;
    ret = gdbCommand(cmd);

}

function execRun(){

    var cmd = "-exec-run";
    ret = gdbCommand(cmd);
}

function execContinue(){

    var cmd = "-exec-continue";
    gdbCommand(cmd);
}



function gdbCommand(cmd){

    var req = { 'gdb_cmd': cmd };

    var json_cmd = { 

        'source': 'gdb',
        'action': '',
        'data': cmd 
    };

    ws_send(JSON.stringify(json_cmd));
    //ajax_gdbCommand(req);

}


function consoleCommand(action, cmd){
    var json_cmd = { 

        'source': 'console',
        'action': action,
        'data': cmd 
    };

    ws_send(JSON.stringify(json_cmd));
}

function ajax_gdbCommand(gdb_cmd){

    $.ajaxSetup({ 
        async : false 
    });  

    $.post("http://127.0.0.1:8080/post", gdb_cmd , function(data){

        $("#gdb").append("<pre>"+data+"</pre>");
        return data;
    }).error(function() { alert(data); });
}

});
</script>




</body>


</html>

